$bodyBackground : rgba(20, 0, 54, 0.92);
$lightText: whitesmoke;
$darkText: #000;;
$boxBorder: #86bd61;
$boxShadow: #77ee27;
$boxBackground: #41b7e6d8;

// saw this in the SASS docs, might try it out
// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

// .alert {
//   border: 1px solid $border-dark;
// }
