$bodyBackground : #1e1e1e;
$lightText: whitesmoke;
$darkText: #000;
$boxBorder: #bd61a4;
$boxShadow: violet;
$boxBackground: #41B6E6;

// saw this in the SASS docs, might try it out
// $base-color: #c6538c;
// $border-dark: rgba($base-color, 0.88);

// .alert {
//   border: 1px solid $border-dark;
// }
