@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/index";

// STYLE
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
}

body {
    background: #88deca;
}

// .Alberta {
//     position: relative;
// }

.dataList {
    display: flex;
    flex-direction: column;
    
    > * > :first-child::before {
        content: "";
        background-repeat: no-repeat;
        display: inline-block;
        background-size: 16px 20px;
        height: 20px;
        width: 20px;
        // position: absolute;
        // left: 55px 
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        border: 5px solid rgba(255, 166, 0, 0.658);
        border-radius: 5px;
        box-shadow: 0 0 10px violet;
        margin: 10px 0;

        h2 { 
            width: calc(100% / 3);
            text-align: center;
        }
        
        div {
            width: calc(100% / 3);
            text-align: left;
        }
    }
}

.Alberta::before {
    background-image: url(../assets/armsAB.png);
}

.BC::before {
    background-image: url(../assets/armsBC.png);
}

.Manitoba::before {
    background-image: url(../assets/armsMB.png);
}

.New::before {
    background-image: url(../assets/armsNB.png);
}

.NL::before {
    background-image: url(../assets/armsNL.png);
}

.Nova::before {
    background-image: url(../assets/armsNS.png);
}

.dataList li h2.Nunavut::before {
    background-image: url(../assets/armsNU.png);
    background-size: 20px 20px;
}

.NWT::before {
    background-image: url(../assets/armsNWT.png);
}

.Ontario::before {
    background-image: url(../assets/armsON.png);
}

.PEI::before {
    background-image: url(../assets/armsPEI.png);
}

.Quebec::before {
    background-image: url(../assets/armsQC.png);
}

.Saskatchewan::before {
    background-image: url(../assets/armsSK.png);
}

.Yukon::before {
    background-image: url(../assets/armsYK.png);
}