@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/index";

// STYLE
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
}

body {
    background: #88deca;
}

.Alberta {
    // position: relative;
}

ul > * > :first-child::before {
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 16px 20px;
    height: 20px;
    width: 20px;
    // position: absolute;
    // left: 55px 
}


.Alberta::before {
    background-image: url(/assets/armsAB.png);
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 16px 20px;
    height: 20px;
    width: 20px;
    // position: absolute;
    // left: 55px;
}

.Alberta::before {
    background-image: url(/assets/armsAB.png);
}