@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/index";

// STYLE
.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: 90%;
}

body {
    background: #88deca;
}

.Alberta::before {
    background: url(./assets/armsAB.png);
    content: "";
    height: 100px;
    width: 50px;
}