@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Nunito&display=swap');

// HEADER

.headingContainer {
    text-align: center;
    color: $lightText;
    padding-bottom: 1vh;
    
    .syringe {
        font-size: 3.5rem;
        padding: 0.3rem 0.6rem 0 0.5rem;
    }
}

// MAIN

main {
    padding-bottom: 10vh;
    
    form,
    h2.dateDisplay {
        text-align: center;
        color: $lightText;
        font-size: 2.5rem;
        line-height: 2;
    }

    // INTRO TEXT

    .intro {
        color: $darkText;
        background: $boxBackground;
        border: 0.3rem solid $boxBorder;
        margin: 2rem auto 0;
        padding: 0 0 2rem;
        box-shadow: 0 0 2rem $boxShadow;
        border-radius: 2rem;
        width: 75%;

        h2 {
            text-align: center;
            font-size: 2.5rem;
        }

        p {
            width: 90%;
            margin: 0 auto;
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
        }
        
        p:last-of-type {
            text-align: right;
            font-family: 'Bungee Inline', cursive;
            font-size: 2rem;
            font-weight: normal;
            margin-bottom: 5rem;
            text-shadow: -0.1rem 0.1rem $pink;
        }
        
        p:last-of-type::before {
            content: "- ";
            text-shadow: none;
        }

        // GIF

        img {
            margin: 2rem auto 0;
            width: 50%;
        }
    }

    // FORM 

    form { 

        label {
            display: block;
        }

        input[type="date"],
        button {
            border-radius: 0.5rem;
            border: none;
            padding: 1rem 3rem;
            font-weight: bold;
            background: $boxBackground;
            cursor: pointer;
        }

        button {
            background: $pink;
        }

        input[type="date"]:hover,
        button:hover {
            box-shadow: 0 0 0.5rem $boxShadow;
        }

        button:hover {
            background: $boxBorder;
        }
    }
}

// GENERATED DATA

.dataList {
    display: flex;
    flex-direction: column;

    // ARMS
    
    > * > :first-child::before {
        content: " ";
        background-repeat: no-repeat;
        background-size: 80% 100%;
        height: calc(2.5rem + 1.5vw);
        width: calc(2.5rem + 1.5vw);
        position: absolute;
        left: 3%; 
        top: calc(35% - 0.25vw);
    }

    // GENERAL 
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12rem;
        border: 0.3rem solid $boxBorder;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem $boxShadow;
        margin: 1rem 0;
        background: $boxBackground;
        position: relative;
        
        h2 { 
            width: 40%;
            text-align: center;
            padding: 0 10rem;
            font-size: 2rem;
            text-decoration: 0.2rem underline $boxBorder;
        }
        
        div {
            width: 30%;
            text-align: left;
        }
    }
}

// ARMS IMAGES

.Alberta::before {
    background-image: url(../assets/armsAB.png);
}

.BC::before {
    background-image: url(../assets/armsBC.png);
}

.Manitoba::before {
    background-image: url(../assets/armsMB.png);
}

.New::before {
    background-image: url(../assets/armsNB.png);
}

.NL::before {
    background-image: url(../assets/armsNL.png);
}

.Nova::before {
    background-image: url(../assets/armsNS.png);
}

.dataList li h2.Nunavut::before {
    background-image: url(../assets/armsNU.png);
    background-size: 100%;
}

.NWT::before {
    background-image: url(../assets/armsNWT.png);
}

.Ontario::before {
    background-image: url(../assets/armsON.png);
}

.PEI::before {
    background-image: url(../assets/armsPEI.png);
}

.Quebec::before {
    background-image: url(../assets/armsQC.png);
}

.Saskatchewan::before {
    background-image: url(../assets/armsSK.png);
}

.Yukon::before {
    background-image: url(../assets/armsYK.png);
}

// FOOTER

footer {
    color: $lightText;
    text-align: center;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 2rem;

    a {
        color: $lightText;
        color: $boxBackground;
        text-decoration: none;
    }
}

// MEDIA QUERIES

@media (max-width: 1100px) {

    // GENERATED DATA

    .dataList {

        .box {
            flex-wrap: wrap;
            height: 20rem;
            
            h2 {
                width: 100%;
                padding: 0;
            }
            
            div {
                align-self: baseline;
                width: auto;
                padding: 0 4%;
            }
        }

        // ARMS

        > * > :first-child::before {
            height: 7rem;
            width: 7rem;
            left: 4%; 
            top: 31%;
        }

        > * > .Nunavut::before {
            left: 3.5%;
        }
    }
}


@media (max-width: 970px) {

    // ARMS

    .dataList > * > :first-child::before {
        height: 5rem;
        width: 5rem;
        left: 3%; 
        top: 10%;
    }
}


@media (max-width: 795px) {

    // GIF

    main .intro img {
        width: 75%;
    }

    // GENERATED DATA

    .dataList {
        
        .box {
            height: 30rem;

            div {
                text-align: center;
                width: 100%;
                padding: 0;
            }
        }

        // ARMS

        > * > :first-child::before {
            height: 10rem;
            width: 10rem;
            left: 5%; 
            top: 31%;
        }
    }
}

@media (max-width: 580px) {

    // GENERAL
    
    button {
        margin-top: 1.5rem;
    }
    
    .intro h2 {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    
    // ARMS

    .dataList > * > :first-child::before {
        display: none;
    }
}